@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    font-family: Roboto, sans-serif;
}

body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a{
    text-decoration: none;
    color: #e5e7eb;    
}
a:hover{
    opacity: 50%;
}
button {
    padding: 12px 36px;
    border-radius: 8px;
    font-weight: bold;
    color: #e5e7eb;
    border-color: #e5e7eb;
    font-size: 18px;
}

button:hover{
    opacity: 50%;
}
button.signup{
    border-color: #3882f6;
}
.header{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 50px;
}

.headertop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.headerbottom{
    display: flex;
    justify-content: space-evenly;
    padding: 24px;
    margin-bottom: 50px;
    gap: 24px;
}

.headerbottomleft{
    width: 400px;
    flex: 1;
}
.awesome, .subtext{
    margin-bottom: 16px;
}
.headerbottomlogo img{
    width: 400px;
}
.header, .footer{
    background-color: #1f2937;
}

.headerlogo{
    font-size: 24px;
}

.awesome{
    font-size: 48px;
    font-weight:extra-bold;
}

.headerlogo, .awesome{
    color:#f9faf8;
}

.subtext, .list, .footer, .text{
    font-size: 18px;
    color: #e5e7eb;
}

.info{
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    padding: 24px;
    margin: 50px 0px;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

.pics{
    display: flex;
    flex-wrap: wrap;
}
img.bird{
    border-radius: 8px;
    border: 5px solid #3882f6;
}
.bird{
    width: 200px;
    height: 200px;
    object-fit: cover;

}

.quote{
    background-color: #e5e7eb;
}
.testimonial{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

button, .callfooter{
    background-color: #3882f6;
}
